<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studium.sactivity.groupindex.studiummainsplash.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/std_icon72_b"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name=".GroupManageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroupIndexActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroupShowActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PostShowActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PostPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CommentPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Register2Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PartymessageCreateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroupCreateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroupCreate2Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetingShowActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetingCreateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StudiumMainSplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>