<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/std_icon260_b"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.activity.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.activity.GroupIndexActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.GroupShowActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.PostShowActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.PostPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.CommentPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.Register2Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.PartymessageCreateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.GroupCreateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.GroupCreate2Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.MeetingShowActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.activity.MeetingCreateActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>